In [1]:
val df= spark.read.json("./people.json")

Intitializing Scala interpreter ...

Spark Web UI available at http://60e9c4dd3450:4042
SparkContext available as 'sc' (version = 3.1.2, master = local[*], app id = local-1633072365074)
SparkSession available as 'spark'

df: org.apache.spark.sql.DataFrame = [age: bigint, name: string]

In [2]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [3]:
df.show(10, false)

+----+-------+
|age |name   |
+----+-------+
|null|Michael|
|30  |Andy   |
|19  |Justin |
+----+-------+

In [4]:
df.filter($"age" > 21).show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [5]:
df.select($"name", $"age").filter($"age" > 20).show()

+----+---+
|name|age|
+----+---+
|Andy| 30|
+----+---+

In [6]:
df.select($"name", $"age").filter("age > 20").show()

+----+---+
|name|age|
+----+---+
|Andy| 30|
+----+---+

In [7]:
df.groupBy("age").count().show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|null|    1|
|  30|    1|
+----+-----+

In [8]:
df.withColumn("xx", when($"age".isNull, "KKK").otherwise("TTT")).show()

+----+-------+---+
| age|   name| xx|
+----+-------+---+
|null|Michael|KKK|
|  30|   Andy|TTT|
|  19| Justin|TTT|
+----+-------+---+

In [9]:
val df = spark.read.json("./people.json")

df: org.apache.spark.sql.DataFrame = [age: bigint, name: string]

In [10]:
df.createOrReplaceTempView("people")

In [12]:
spark.sql("SELECT * FROM people").show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [13]:
spark.sql("SELECT * FROM people WHERE age > 20").show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [14]:
spark.sql("SELECT age, count(1) FROM people GROUP BY age").show()

+----+--------+
| age|count(1)|
+----+--------+
|  19|       1|
|null|       1|
|  30|       1|
+----+--------+